In [1]:
import pandas as pd, numpy as np

In [5]:
df=pd.read_excel('companylist.xlsx')

In [6]:
df.head()

   Srl. No.                         COMPANY NAME CATEGORY
0         1                             3M INDIA       A+
1         2                    ABB INDIA LIMITED       A+
2         3                        ABN AMRO BANK       A+
3         4   ACCENTURE SERVICES PRIVATE LIMITED       A+
4         5  ADOBE SYSTEMS INDIA PRIVATE LIMITED       A+

In [7]:
df.to_csv("companylist.csv")